@using IkinciElAracIhaleSistemiSonKullanici.AppCore.DTO.AracDTOs.AracOzellikDTOs
@using IkinciElAracIhaleSistemiSonKullanici.AppCore.DTO.IhaleDTOs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using IkinciElAracIhaleSistemi.Entities.VM.Enum

@model AracDetayViewModel
@{
	ViewData["Title"] = "AracDetay";
	Layout = "~/Views/Shared/_UiLayout.cshtml";
	int sira = 1;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<section class="w3l-about-breadcrumb text-left">
	<div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="title">Araç Bilgileri</h2>
					<ul class="breadcrumbs-custom-path mt-2">
						<h5>
							<li><a href="#"> Araca Ait Özellikler </a></li></h5>
						<hr />
						@foreach (var item in Model.IhaledekiAraclar)
						{
							<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> @item.OzellikDetayi </li>
							<hr />
						}
					</ul>
				</div>
				
				<div class="col-lg-6 mt-lg-0 mt-5 contact-right">
					
					<form id="teklifFormu" method="post" asp-action="TeklifVer" asp-controller="Arac" class="signin-form mt-5">
						<div class="row">
							<div class="col-lg-12 breadcrumbs-custom-path">
								<input type="hidden" name="AracIhaleId" value="@Model.AracinFiyatBilgisi.AracIhaleId"/>
								<input type="hidden" name="AracId" value="@Model.AracId" />
								<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Minimum Alım Fiyatı: @Model.AracinFiyatBilgisi.MinimumAlimFiyati TL</li>
								<hr/>
								<hr/>
								<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Lütfen minimum alım fiyatının altında teklif vermeyiniz!</li>
								<hr/>
								<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İhale süreci tamamlandığında ihale sonucunun bilgisi sisteme kayıtlı olduğunuz mail adresiniz üzerinden tarafınıza iletilecektir. </li>
								<hr/><hr/>
							</div>
							
						</div>
						<hr/>
						<div class="text-center">
							@{
								int statuId = int.Parse(Model.BaslangicString);
								//DateTime bitisTarihi = DateTime.Parse(Model.BitisString);
								//DateTime bugun = DateTime.Today;

								if (statuId == (int)IhaleStatuleri.Baslamadi && statuId == (int)IhaleStatuleri.Bitti)
								{
									<div class="col-lg-12 breadcrumbs-custom-path breadcrumb-bg breadcrumb-bg-about">
										<h5>
											<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Teklif Girilemez</li> </h5>
										<hr/>
										<input type="text" name="TeklifEdilenFiyat" value="" placeholder="Teklif Edilen Fiyat*" class="contact-input form-control-lg" style="width: 100%;" disabled/>
									</div>
									<hr />
									<h5><li><span style="color: red;"><a href="#"> İHALE AKTİF DEĞİL </a></span></li></h5>

									<hr/>
									<button type="button" class="btn btn-style btn-primary">Teklif Girilemez</button>
								}
								else if (statuId == (int)IhaleStatuleri.Basladi)
								{
									<div class="col-lg-12 breadcrumbs-custom-path breadcrumb-bg breadcrumb-bg-about">
										<h5>
											<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Teklif Edilen Fiyat: </li>
										</h5>
										<hr />
										<input type="text" name="TeklifEdilenFiyat" value="" placeholder="Teklif Edilen Fiyat*" class="contact-input form-control-lg" style="width: 100%;" />
									</div>
									<hr />
									<h5><li><span style="color: red;"><a href="#"> İHALE AKTİF </a></span></li></h5>

									<hr />
									<button type="submit" class="btn btn-style btn-primary">Teklif Ver</button>
								}
							}
						</div>
					</form>
					<hr />
						
					@{
						if (Model.AracTeklifleri.Count > 0)
						{
							<div class="column price-number text-md-right">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
									Teklifler
								</button>
										
							</div>
						}
						else
						{
							<p class="price-title">Araca ait teklif yoktur.</p>
						}
					}
				</div>
			</div>
		</div>
	</div>
</section>


.
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Araca Yapılan Teklifler</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
					<tr>

						<th scope="col">#</th>
						<th scope="col">Teklif Tarihi</th>
						<th scope="col">Teklif Fiyatı</th>

					</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.AracTeklifleri)
						{
							<tr>
								<td>@sira</td>
								<td>@item.TeklifTarihi</td>
								<td>@item.TeklifEdilenFiyat</td>

							</tr>
							sira++;
						}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="#teklifler" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Teklifler</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
					<tr>
						<th scope="col">Teklif Tarihi</th>
						<th scope="col">Teklif Fiyatı</th>

					</tr>
					</thead>
					<tbody>
					@foreach (var item in (List<AracTeklifDTO>)Model.AracTeklifleri)
					{
						<tr>
							<td>@item.TeklifTarihi</td>
							<td>@item.TeklifEdilenFiyat</td>

						</tr>
					}
					</tbody>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
			</div>
		</div>
	</div>
</div>



<section class="w3l-contact" id="contact">
	<div class="contact-infubd py-5">
		<div class="container py-lg-3">
			<div class="contact-grids row">
				<div class="col-lg-12">
					<div class="best-rooms py-5">
						<div class="container py-md-5">
							<div class="ban-content-inf row">
								<div class="maghny-gd-1 col-lg-6">
									<div class="maghny-grid">
										<figure class="effect-lily border-radius  m-0">
											<img class="img-fluid" src="~/Traversal-Liberty/assets/images/g10.jpg" alt="" />
											<figcaption>
												<div>
													<h4>Güvenilir Satıcı</h4>
													<p> Adaletli İhale</p>
												</div>

											</figcaption>
										</figure>
									</div>
								</div>
								<div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
									<div class="row">
										<div class="maghny-gd-1 col-6">
											<div class="maghny-grid">
												<figure class="effect-lily border-radius">
													<img class="img-fluid" src="~/Traversal-Liberty/assets/images/g9.jpg" alt="" />
													<figcaption>
														<div>
															<h4>Her Modelden Araç</h4>
															<p> Herkese Hitap Eden Araçlar </p>
														</div>

													</figcaption>
												</figure>
											</div>
										</div>
										<div class="maghny-gd-1 col-6">
											<div class="maghny-grid">
												<figure class="effect-lily border-radius">
													<img class="img-fluid" src="~/Traversal-Liberty/assets/images/g8.jpg" alt="" />
													<figcaption>
														<div>
															<h4>Hızlı İletişim</h4>
															<p>Müşteri Hizmetleri Desteği </p>
														</div>

													</figcaption>
												</figure>
											</div>
										</div>
										<div class="maghny-gd-1 col-6 mt-4">
											<div class="maghny-grid">
												<figure class="effect-lily border-radius">
													<img class="img-fluid" src="~/Traversal-Liberty/assets/images/g7.jpg" alt="" />
													<figcaption>
														<div>
															<h4>Araç Bakım</h4>
															<p>Ekspertiz Desteği</p>
														</div>

													</figcaption>
												</figure>
											</div>
										</div>
										<div class="maghny-gd-1 col-6 mt-4">
											<div class="maghny-grid">
												<figure class="effect-lily border-radius">
													<img class="img-fluid" src="~/Traversal-Liberty/assets/images/g6.jpg" alt="" />
													<figcaption>
														<div>
															<h4>Kasko</h4>
															<p>Kasko ve Sigorta Desteği</p>
														</div>

													</figcaption>
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</section>



@*<script>
	
	function submitForm() {
		
		var teklifFiyat = document.getElementById('fiyatBilgisi').value;

		var form = document.getElementById('teklifFormu');
		form.action = '/Arac/TeklifVer/' + encodeURIComponent(teklifFiyat);

		form.submit();
	}
</script>*@
