@using IkinciElAracIhaleSistemiSonKullanici.AppCore.DTO.AracDTOs
@using IkinciElAracIhaleSistemiSonKullanici.AppCore.DTO.IhaleDTOs

@model Tuple<List<AracBilgiDTO>,IhaledekiAracFiyatBilgisiDTO>

@{
    ViewData["Title"] = "IhaleDetay";
    Layout = "~/Views/Shared/_UiLayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
	<div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
		<div class="container">
			<h2 class="title">@ViewBag.IhaleBilgisi.IhaleAdi</h2>
			<ul class="breadcrumbs-custom-path mt-2">
				<h5>
				<li><a href="#"> @ViewBag.IhaleBilgisi.Statu </a></li> </h5>
				
				<hr/>
				<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Başlangıç Tarihi: @ViewBag.IhaleBilgisi.IhaleBaslangicTarihi. -> @ViewBag.IhaleBilgisi.BaslangicSaati </li>
				<hr/>
				<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Bitiş Tarihi: @ViewBag.IhaleBilgisi.IhaleBitisTarihi -> @ViewBag.IhaleBilgisi.BitisSaati </li>
			</ul>
		</div>
	</div>
</section>
<section class="w3l-pricinghny">
    <div class="pricing-inner-info py-5">
        <div class="container py-lg-4">
            <!--/pricing-info-grids-->
            <div class="pricing-info-grids">
	            <!--/box-->
                @foreach (var item in Model.Item1)
                {
	                <div class="price-box">
		                <div class="grid grid-column-2">
			                <div class="column pr-img-gd">
				                <h6 class="pricehead">
					                <span class="fa fa-delicious mr-2" aria-hidden="true"></span> @item.Plaka
				                </h6>
			                </div>
			                <div class="column text-lg-center">
				                <p class="price-title">@item.Marka.MarkaAdi</p>
				                <p class="price-title">@item.Model.ModelAdi</p>
				                <p class="price-title">@item.Km KM</p>
			                </div>
			                <div class="column price-number text-md-right">
				                <p class="price-title">Minimum Alım Fiyatı</p>
				                <p class="price-title">@Model.Item2.MinimumAlimFiyati</p>
				                <a class="btn btn-style btn-primary ml-lg-3" href="/Arac/AracDetay/@item.Id/">Teklif Ver</a>
			                </div>
		                </div>
	                </div>

                }

            </div>
            <!--/pricing-info-grids-->
        </div>
    </div>
</section>

