
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UiLayout.cshtml";
}
@using Microsoft.CodeAnalysis.Elfie.Model.Map
@using IkinciElAracIhaleSistemiSonKullanici.AppCore.DTO.IhaleDTOs

@model Tuple< List<IhaleBilgisiDTO>, List<IhaleStatuDTO>>
<section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">****</h6>
            <h3 class="hny-title">İhaleler</h3>
        </div>
        <div class="row bottom-ab-grids">
	        <!--/row-grids-->
            @foreach (var item in Model.Item1)
            {
	            <div class="col-lg-6 subject-card mt-lg-0 mt-4">
		            <div class="subject-card-header p-4">
			            <a href="/Ihale/IhaleDetay/@item.IhaleId" class="card_title p-lg-4d-block">
				            <div class="row align-items-center">
					            <div class="col-sm-5 subject-img">
									<img src="~/Traversal-Liberty/assets/images/2898188_0.jpg" class="img-fluid" alt="">
					            </div>
					            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
						            <h4>@item.IhaleAdi</h4>
									@foreach (var item1 in Model.Item2)
									{
										if (item.IhaleId == item1.IhaleId)
										{
											<p>@item1.Statu.StatuAdi</p>
										}
									}
						            
						            <div class="dst-btm">
							            @*<h6 class=""> @(item.IhaleTuru.IhaleTuruAdi+" İhale") </h6>*@
										<span>@(item.IhaleTuru.IhaleTuruAdi + " İhale")</span>
						            </div>
						            <p class="sub-para">Başlangıç: @item.IhaleBaslangicTarihi.ToShortDateString()+ </p>
									<p class="sub-para">Bitiş: @item.IhaleBitisTarihi.ToShortDateString()</p>
					            </div>
				            </div>
			            </a>
		            </div>
	            </div>
            }
           
            <!--//row-grids-->
        </div>
    </div>
</section>

